body {
    background: #FFE8D6 !important;
}

/*Clever Invest*/
.mainLink {
    margin-left: 24px;
    font-family: Montserrat Bold, "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.a_nav {
    margin-left: 35px;
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}

.a_nav:hover {
    text-shadow: 0 0 .65px black, 0 0 .65px black;
    text-decoration: underline;
    text-decoration-color: #B7B7A4;
}

#login_register {
    position: absolute;
    top: 0;
    right: 0;
}

td a {
    color: #A5A58D !important;
    text-decoration: none;
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
}

#separator {
    color: #A5A58D;
}

td a:hover {
    text-shadow: 0 0 .65px #B7B7A4, 0 0 .65px #B7B7A4;
    text-decoration: underline;
    text-decoration-color: #B7B7A4;
}

/*footer*/
.myBorderColor {
    border-top: 2px solid rgba(183, 183, 164, 0.5) !important;
}

#dropdownMenuButton{
    border: none;
    background-color: transparent;
    color: black;
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}

.myMl{
    margin-left: 35px;
}

#dropdownMenuButton:hover{
    text-shadow: 0 0 .65px black, 0 0 .65px black;
    text-decoration: underline;
    text-decoration-color: #B7B7A4;
}

.dropdown:hover .dropdown-menu{
    display: block;
    transition: all 2s ease-in-out;
}

.dropdown-menu{
    background-color: #ddbea9 !important;
}

.dropdown-item{
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
}

.dropdown-item:hover{
    background-color: #a5a58d;
}

