@page
@model ClevInvest.Pages.StocksAndBonds.Bonds

<div class="row align-items-center mt-2">
    <div class="pageText col-md-5">
        <h1>Что такое облигация?</h1>
        <p class="mb-1">
             Облигация –
             это ценная бумага, подтверждающая обязательство компании выплатить
             определенную сумму и начисленные проценты владельцу облигации.
             Другими словами, организация или государство получает средства для
             деятельности и обязуется вернуть их в оговоренный период, предоставив
             инвесторам возможность заработка в виде процента от инвестированной суммы.
        </p>
        

    </div>
    <div class="col-12 col-md-7 p-0">
        <img src="/images/bonds.jpg" class="imageStyle img-fluid" alt="bonds.jpg">
    </div>
</div>