@page
@model ClevInvest.Pages.StocksAndBonds.Stocks

<div class="row align-items-center mt-2">
    <div class="pageText col-md-5">
        <h1>Что такое акции?</h1>
        <p class="mb-1">
            Акции - это ценные бумаги, которые обеспечивают их владельцу долю в капитале компании. Приобретая акции, вы приобретаете часть компании.
            Акции являются одним из основных инструментов инвестирования на фондовом рынке и представляют возможность получения дополнительного дохода.
        </p>
        <h1>Для чего это нужно?</h1>
        <p class="mb-1">
            Фактически вы становитесь совладельцем бизнеса и можете получать часть прибыли компании в виде дивидендов. А также акции могут изменяться в цене. Если финансовое положение компании улучшается, то и акции, 
            как правило, растут в цене. Тем самым владелец выигрывает на курсовой стоимости акции.а.
        </p>

    </div>
    <div class="col-12 col-md-7 p-0">
        <img src="/images/stocks.jpg" class="imageStyle img-fluid" alt="stocks.jpg">
    </div>
</div>