@page
@model ClevInvest.Pages.Contact


<h1 class="text-center">CONTACT US</h1>
<div class="pageText text-center">
    <a href="https://yandex.ru/maps/43/kazan/house/kremlyovskaya_ulitsa_35/YEAYdwViSEYCQFtvfXt4c31gbQ==/?ll=49.122135%2C55.792139&source=wizgeo&utm_medium=maps-desktop&utm_source=serp&z=16"
       target="_blank" class="text-dark a_nav ml-0">
        <i class="fas fa-map-marker-alt">
            <p class="d-inline">Kremlevskaya, 35</p>
        </i>
    </a>
    <p id="inner">Kazan. Russia</p>
    <a href="https://www.instagram.com/tbag_marat/" target="_blank" class="text-dark a_nav ml-0">
        <i class="fab fa-instagram">
            <p class="d-inline">My instagram</p>
        </i>
    </a>
    
    <a href="mailto:maratelagin@gmail.com" target="_blank" class="text-dark a_nav ml-0 d-block">
        <i class="fas fa-envelope">
            <p class="d-inline">maratelagin@gmail.com</p>
        </i>
    </a>
</div>