@page
@using Microsoft.AspNetCore.Http
@model IndexModel

@* @if (Html.ViewContext.HttpContext.Session.GetString("user") != null) *@
@* { *@
@*     Html.ViewContext.HttpContext.Session.GetString("user"); *@
@* } *@

<div class="row flex-row-reverse align-items-center pl-1">
    <div class="col-12 col-md-7 mt-5 p-0">
        <img src="/images/InvestIsSimple.jpg" class="imageStyle img-fluid" alt="Invest is simple.jpg">
    </div>
    <div class="pageText col-md-5">
        <h1>Инвестиции это просто!</h1>
        <p>
            Позаботьтесь о своём будущем!
            Начните инвестировать прямо сейчас.
            Наш сайт поможет Вам разобраться
            и начать формировать финансовую независимость!
        </p>
    </div>
</div>

