@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="pageText">
<h1>Здесь скоро появится возможность создавать финансовый портфель</h1>
<h2>Мы над этим работаем!</h2>
</div>