@page
@model ClevInvest.Pages.Investments.InvestmentsForWhat

<div class="row align-items-center mt-2 pl-1">
    <div class="pageText col-md-5">
        <h1>Какими способностями должен обладать человек, чтобы быть успешным в современном мире?</h1>
        <p class="mb-1">
            Чтобы быть успешным, надо быть профессионалом высокого класса, что позволит вам иметь достойную заработную плату. Но зачастую весь заработыннй доход человек тратит на потребление - живёт “От зарплаты до зарплаты”. Более того, многие пользуются кредитами, на обеспечение которых нередко уходит большая часть этого дохода. Таким образом, человек попадает в зависимость от работадателя, государства, банка. Кроме того, недостаточно быть высокоплачиваемым специалистом и профессионалом. К примеру, великий художник Ван Гог и известный
            бразильский футболист Гарринча умерли в нищете.
        </p>
    </div>
    <div class="col-12 col-md-7 p-0">
        <img src="/images/Success.jpg" class="imageStyle img-fluid" alt="Success.jpg">
    </div>
</div>
<div class="row pageText mt-2 pl-1">
    <p>
        <span class="underline">Один из самых важных навыков успешного человека - умение распоряжаться результатом своего труда.</span>
        Рано или поздно некоторые из нас задумываются о накоплениях, о том, чтобы стать финансово независимыми, обеспечить себе достойную старость, позаботиться о будущем детей. Как этого достичь?</p>
        <p>
        В какой-то мере о нас заботится государтсво. Определённая часть нашего ежемесячного дохода попадает в пенсионный фонд, а при наступлении песионного возраста каждый получает гарантированную пенсию. Но рмзмеры пенсионных выплат настолько малы, что не позволяют пенсионерам даже обеспечить себя. В развитых странах ситуация совершенно иная. Все видели улыбающихся и довольных туристов из-за рубежа, большинство из которых - пожилые люди. Это не банкиры и не олигархи в отставке. Это обыкновенные люди - такие же как мы с вами. Что же позволяет им наслаждаться жизнью, а не думать о том, как дотянуть до зарплаты или пенсии в следующем месяце?
        </p>
    <p>
        Дело в том, что в западных странах очень хорошо развита культура инвестирования. Большинство дителей этих стран начинают инвестировать ещё в молодости. В США, например, 80% населения имеют вложения в ценные бумаги, а объём вложений в инвестиционные фонды в два раза превышает объём банковских депозитов. В России объём ПИФов в десятки раз меньше, чем объём депозитов, и только около 2% населения вкладывает деньги в ценные бумаги.
        Инвестиции позволяют со временем получать не только доход от своей профессиональной деятельности - “зарплату”, но и инвестиционный доход.
        Многие думают: “инвестиции - это для избранных”, “чтобы инвестировать и получать инвестиционный доход, необходимо иметь много денег”. Однако ивестиции можно осуществлять, имея и небольшой капитал. Запомните главное правило инвестиций: “Не важно сколько вы инвестируете, важно делать это регулярно”
        Если разбираться в отчётах компаний по началу сложным и непонятным, то присмотритесь к паевым инвестиционным фондам(ПИФы). Такие фонды аккумулируют средства пайщиков и профессионально их инвестируют в ценные бумаги - акции и облигации различных российских предприятий, либо в недвижимость. В странах с высоким уровнем жизни населения большая часть жителей инвестируют именно посредством инвестиционных фондов. В совокупности объём средств, которые граждане инвестируют в экономику своих стран, огромен. Эти инвестиции приводят к ускорению роста экономик и дальнейшему повышению уровня жизни населения.
        Таким образом, инвестируя в экономику своей страны, мы способствуем повышению собственного благосостояния. Не забывайте, что ваши деньги работают на вас 24 часа в сутки и могут работать на ваших детей и внуков. Инвестируйте и создавайте основу для вашего будущего капитала, вкладывая в активы, увеличивающие ваше благосостояние.
    </p>
    <h1>Выводы</h1>
    <ul class="pl-3">
        <li class="mb-2">
            В современном мире умение грамотно инвестировать становиться навыком, необходимым для того, чтобы быть успешным человеком.
        </li>
        <li class="mb-2">
            Инвестиции позволяют получать дополнительный инвестиционный доход, который со временем может намного превосходить размер заработной платы.
        </li>
        <li class="mb-2">
            Инвестиции - это вовсе не прерогатива богатых, как думают многие. Инвестиции доступны всем. В паевые инвестиционные фонды возможны вложения, примеру, от 1000 рублей.
        </li>
    </ul>
</div>