@page
@model ClevInvest.Pages.Investments.InvestmentsHistory


<div class="row align-items-center mt-2 pl-1">
    <div class="pageText col-md-5">
        <h1>Как всё начиналось</h1>
        <p class="mb-1">
            Инвестирование развивается уже много лет.
            Первые инвестиции появились с возникновением
            товарно-денежных отношений.
        </p>
        <p class="mb-1">
            <span class="parHeader">Древний Вавилон.</span> О грамотном отношении с
            деньгами свидетельствуют первые упоминания из
            Древнего Вавилона. Именно там народ быстро
            понял важность правильного владения финансами,
            распределения доходов и расходов. Вавилон стал
            самым процветающим городом древнего мира,
            потому что его жители сумели побороть бедность.
            Они знали цену деньгам. И твёрдо придерживались
            основных финансовых законов, позволявших им не
            только добывать деньги, но и сберегать их и
            заставлять работать. Жители Вавилона добились
            главного, о чём все мы мечтаем…
            Они обеспечили себе безбедное будущее.
        </p>
    </div>
    <div class="col-12 col-md-7 p-0">
        <img src="/images/Vavilon.jpg" class="imageStyle img-fluid" alt="Vavilon.jpg">
    </div>
</div>


<div class="row align-items-center pl-1">
    <div class="pageText col-md-5">
        <p class="mb-1">
            <span class="parHeader">Древняя Греция и морская торговля.</span>
            Большое внимание финансам уделяли и в Афинах. Каждому гражданину выдавался участок
            земли, и обеспечивалась поддержка от государства. В это же время активно развивалась
            сфера кредитования. К примеру, такая популярная сегодня услуга, как ипотека, впервые
            появилась именно в Древней Греции. Различные займы под проценты, морская торговля,
            объекты недвижимости уже тогда давали возможности для инвестирования.

        </p>
        <p class="mb-1">
            <span class="parHeader">Средние века.</span> Само слово “инвестиция” появилось давно
            и имеет латинское происхождение. Изначально оно переводилось как “одеваю”, “надевать”.
            Уже позже появился новый смысл “вкладывать что-либо” Такое толкование объясняется тем,
            что в эту эпоху было много инвесторов, которыми выступали вассалы феодалов. Феодалы
            ставили вместо себя вассалов, чтобы те управляли и распоряжались землями хозяина.
            Основную часть прибыли от работы получал феодал, а вассалу платили только зарплату.
            Инвестиции применялись в разных сферах жизни того времени. Их стали использовать
            везде с главной целью - получение прибыли.

        </p>
    </div>

    <div class="col-12 col-md-7 p-0">
        <img src="/images/Greece.jpg" class="imageStyle img-fluid" alt="Greece.jpg">
    </div>
</div>

<div class="row pl-1">
    <div class="pageText col-12 mt-2 mt-0">
        <p class="mb-1">
        <span class="parHeader">Инвестиции в России.</span>
        Инвестирование в России появилось во времена царского правления. Тогда
        основным источником денег были заёмы у частных лиц и монастырей. Известно,
        что в 1762 году императрица Екатерина II приобрела акции компании, которая
        занималась торговлей на Средиземноморье. К 1830 году все высшие сословия империи
        и особенно помещики занимались инвестированием. Всеобщую известность инвестирование
        получило с открытием первых сберегательных банков в 1842 году. Люди повсеместно
        начали открыватьвклады, сохраняя свои накопления. Однако с приходом советской
        власти система всего частного инвестирования была практически полностью уничтожена,
        так как не допускала наличия свободных финансов у населения. Именно поэтому в России
        и странах бывшего СССР уровень финансовой грамотности находится на довольно низком уровне.
        Кроме того крахи финансовых пирамид, девальвация рубля только усиливают недоверие к инвестициям.
        Но в последние годы люди люди стали задумываться над сбережением своих финансов. Это связано
        с массовой популяризацией и рекламированием брокерских услуг, а также с последствиями
        коронавируса. Многие люди столкнулись с недостатком денег во время пандемии.
        Число инвесторов в России увеличилось в 3 раза за 2020 год. В целом, фондовый рынок
        России ещё довольно молод по сравнению с рынками США и Европы.
        <p/>
    </div>
</div>

<div class="row align-items-center pl-1">
    <div class="pageText col-md-5 mt-3">
        <p class="mb-0">
        <span class="parHeader">Инвестиции в США.</span>
        Инвестиции в США. Об американцах часто говорят: “Инвесторы с пелёнок”. И это действительно так.
        Инвестированию здесь обучают даже в детских садах и школах. Эта нация является примером для
        всего мира. Она достигла в этой сфере поразительных результатов - сегодня весь мир наблюдает,
        куда вкладывают деньги американцы. Первый фондовый рынок в мире появился в США - случилось
        это в 1817 году. В США инвестирование поддерживают на уровне законодательства. Именно
        поэтому у населения сформировался высокий уровень доверия к финансовому рынку.
        <p/>
    </div>
    <div class="col-12 col-md-7 p-0">
        <img src="/images/Usa.jpg" class="imageStyle img-fluid" alt="Usa.jpg">
    </div>
</div>

<div class="row pl-1">
    <div class="pageText mt-5">
        <p>
            <span class="parHeader">Заключение.</span> Как видите, история инвестирования
            развивалась динамично в течение многих веков и
            продолжает развиваться сегодня. Существуют
            примеры, когда инвестиции приносили людям
            большую прибыль: Уоррен Баффет, Дэвид Черитон и другие.
        </p>
    </div>
</div>