@page
@model ClevInvest.Pages.Investments.InvestmentsStartPage

<div class="row align-items-center mt-2 pl-1">
    <div class="pageText col-md-5">
        <h1>Какими способностями должен обладать человек, чтобы быть успешным в современном мире?</h1>
        <p class="mb-1">
            Прежде всего определитесь, во что инвестировать: ценные бумаги, недвижимость, криптовалюта, фонды.
        </p>
        <span class="parHeader">Как в них инвестировать:</span>
        <ul class="pl-3">
            <li class="mb-1">Сформируйте свою инвестиционную цель.</li>
            <li class="mb-1">Избавьтесь от долгов и накопите подушку.</li>
            <li class="mb-1">Определите, какую сумму вы готовы вложить в инвестиции.</li>
            <li class="mb-1">Выберите брокера и откройте брокерский или индивидуальный инвестиционный счёт.</li>
            <li class="mb-1">Начните формировать инвестиционный портфель -купите на минимальную сумму базовые инструменты: акции, облигации и фонды(ПИФ, ETF). Покупать отдельные акции и облигации без глубоких знаний рынка рискованно, поэтому лучше начать инвестировать через недорогие фонды. Инвестируя в фонд, вы приобретает уже сформированный портфель ценных бумаг.</li>
        </ul>
    </div>
    <div class="col-12 col-md-7 p-0">
        <img src="/images/start.png" class="imageStyle img-fluid" alt="start.jpg">
    </div>
</div>