@page
@model ClevInvest.Pages.Investments.InvestmentModel

<div class="row pl-1">
    <div class="pageText col-md-5" id="invetmentsHeader">
        <h1>Что такое инвестиции?</h1>
        <p>
            Инвестиции - вложение капитала с целью
            получения прибыли.
        </p>
        <p>
            Инвестирование - процесс постепенного
            накопления и увеличения капитала.
            Чем дольше вы инвестируете, тем больше
            становится ваш капитал.
        </p>
        <p>
            Один из самых важных навыков успешного человека в современном мире – умение распоряжаться результатом своего труда. Рано или поздно некоторые из нас задумываются о накоплениях, о том, чтобы стать финансово независимыми, обеспечить себе достойную старость, позаботиться о будущем детей. Для этого
            нужно инвестировать!
        </p>
    </div>
    <div class="col-12 col-md-7 mt-5 p-0">
        <img src="/images/revenue_increase.jpg" class="imageStyle img-fluid" alt="revenueIncrease.jpg">
        <div class="col-md-12 align-items-center mt-2">
            <p class="myQuote">
                "Богатство подобно дереву, которое вырастает из крошечного
                семени. Первая медная монета, которую ты сохранишь, станет этим
                семенем, из которого вырастет дерево богатства. Чем скорее ты
                посадишь это семя, тем скорее вырастет дерево. Чем усерднее ты
                будешь удобрять и поливать его постоянными сбережениями, тем
                скорее сможешь насладиться отдыхом в его тени". 
                <br>
                <span class="parHeader">— Самый богатый человек в Вавилоне</span>
            </p>
        </div>
    </div>
</div>